[submodule "Hog"]
	path = Hog
	url = https://gitlab.cern.ch/hog/Hog.git
[submodule "logic/VHDL_basic_functions"]
	path = logic/VHDL_basic_functions
	url = git@github.com:PerugiaOverNetDAQ/VHDL_basic_functions.git
